body {
  background-color: #EEF0F7;
  margin: 0;
  max-height: 10vh;
  overflow: scroll;
  padding: 1em 0 0 0;
}
.zinger > svg{
  margin: auto;
  display: block;
  margin-bottom: 8em;
}
h1 {
    text-align: center;
}
h2 {
    text-align: center;
}
